<div ng-controller="PartiesListCtrl">
  <h2>Hello {{name}}!</h2>
  <ul>
    <li ng-repeat="party in parties">
      {{party.name}}
      <p>{{party.description}}</p>
      <button ng-click="remove(party)">X</button>
    </li>
  </ul>

  <form>
    <label>Name</label>
    <input ng-model="newParty.name">
    <label>Description</label>
    <input ng-model="newParty.description">
    <button ng-click="parties.push(newParty); newParty='';">Add</button>
  </form>

  <table>
    <tr ng-repeat="r in [0, 1, 2, 3, 4, 5, 6, 7]">
      <td ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">{{i + 1}}</td>
    </tr>
  </table>
</div>

